*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Bodoni Moda;
    src: url(./Fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Junge;
    src: url(./Fonts/Junge-Regular.ttf);
}

:root{
    --font1: Bodoni Moda;
    --font2: Junge;
}
body,html{
    width: 1237px;
    height: 880px;
}


header{
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: stretch;
}

section#hsec1{
    width: 726px;
    height: 100%;
    display: flex;
    background-color: #f0eee2;
    align-items: center;
    
}
.logo{
    width: 50px;
    height: 50px;
    background: url(./Images/logo.png), 50% / cover no-repeat;
    margin:7px 25px 0px 25px;
}
div.searchingSec{
    width: 32px;
    height: 32px;
    margin: 18px auto 11px 34px;
    display: flex;
    gap: 8px;
}
input#searchbar{
    -webkit-appearance: none;
    border: 0px;
    width: 171px;
    height: 28px;
    background-color: #D9D9D9;
    border-radius: 50px;
    opacity: 0.5;
    text-align: center;
    font-family: Bodoni Moda;
    font-size: 12;
    font-weight: 400;
    letter-spacing: -0.36px;
    
}
input#searchbar::placeholder{
    color: #000000;
    font-family: var(--font1);
    font-size: 12;
    font-weight: 400;
    letter-spacing: -0.36px;
}


section#hsec2{
    width: 511px;
    height: 100%;
    display: flex;
    background-color: #FDFCF7;
}

div.profile{
    margin: 10px 34px 3px auto;
    display: flex;
    align-items: center;
    gap: 8px;
}
div.profileIcon{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url(./Images/ErenJager.jfif);
    background-position: center;
    background-size: cover;
}
div.profileName{
    font-family: var(--font1);
    font-size:16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    color: #000000;
}

/*Main Content*/

main{
    display: grid;
    grid-template-columns:100px 626px 511px;
    grid-template-rows: 823px;
}
/*Navigation Section*/
nav{
    grid-area: 1 / 1 / 2 / 2;
    background-color: #f0EEE2;
    display: flex;
}
hr{
    border: 0;
    background-color: rgba(167,166,159,40%);
    width:2px;
}
div.navBarContainer{
    margin: 144px 24px 369px 24px;
    border-radius: 50px;
    height: 310px;
    width: 52px;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
div.navBarContainer>.navItem{
    width: 44px;
    height: 44px;
    background-color: rgba(227,227,227,10%);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.navBarContainer>.navItem:hover{
    opacity: 1;
    background-color: #E36065;
    cursor: pointer;
}
div.navBarContainer>.navItemH{
    width: 44px;
    height: 44px;
    background-color: rgba(227,227,227,10%);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.navBarContainer>.navItemH:hover{
    opacity: 1;
    background-color: #E36065;
    cursor: pointer;
}
.navItem:hover [stroke]{
    stroke:white;
}

.navItemH:hover path{
    fill: white;
}

/*Section 1*/
section#sec1{
    grid-area: 1 / 2 / 2 / 3;
    background-color: #F0EEE2;
    display: grid;
    grid-template-columns: 626px ; 
    grid-template-rows: 333px 344px 146px;
}
    /*Section 1 Hero*/
.hero{
    grid-area: 1 / 1 / 2 / 2;
}
.hero>.content{
    width: 378px;
    height: 280px;
    margin: 28px 6px 25px 34px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero>.content>h1{
    width: 341px;
    color: black;
    font-weight: 400;
    font-family: var(--font2);
    font-size: 45px;
    letter-spacing: -1.35px;
}
.hero>.content>.sloganText{
    width: 378px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: -0.48px;
}
button.signup{
    -webkit-appearance: none;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -0.48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 124px;
    height: 34px;
    border-radius: 50px;
    background-color: #252833;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
button.signup:hover{
    transform: scale(1.03);
}
button.signup:active{
    transform: scale(1);
}
    /*Section 1 Popular Books*/
.popularSec{
    grid-area: 2 / 1 / 3 / 2;
}
.popularSec>.content2{
    width: 554.667px;
    height: 279px;
    margin: 26px 37px 39px 34px;
}
.popularSec>.content2>.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popularSec>.content2>.head>#title{
    font-family: Junge;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.72px;
}
.popularSec>.content2>.head>svg{
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.popularSec>.content2>.head>svg:hover{
    transform: scale(1.1);
}
.popularSec>.content2>.popularBooks{
    display: grid;
    grid-template-columns: repeat(4,113px);
    grid-template-rows: 222px;
    gap: 34px;
    margin-top:28px;
    justify-content: center;
}

.popularBooks>.book{
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.popularBooks>.book:hover{
    transform: scale(1.1);
}
.bookCover{
    height:157px;
    width: 113px;
    box-shadow: -10px 6px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.bookName{
    width: 113px;
    height: 49px;
    font-family: var(--font1);
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.42px;
    overflow: hidden;
    color: #000000;
    margin-top:16px;
}



    /*Section 1 Collection*/
.collectionSec{
    grid-area: 3 / 1 / 4 / 2;
    background-color: gainsboro;
}


/*Section 2*/
section#sec2{
    grid-area: 1 / 3 / 2 / 4;
    background-color: #FDFCF7;
}
